:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:5rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
    margin-top: 8%;
}

.heading span{
    color:var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

header{
    position: fixed;
    background:#fff;
    height: 75px;
    width: 100%;
    padding: 0px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;

}



header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--pink);
}


header .icons {
    font-size: 2.5rem;
    padding:0 2rem;
  
}
header #icon1:hover ,header #icon2:hover , header #icon3:hover  {
    transform: translateY(-10px);
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}




.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


/* Start Here *********************************************************************************************/



.container{

	max-width: 1200px;
	margin: 0 auto;

}

.container h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;;
}


.cart{
	display: flex;
}

.products{
	flex: 0.75;
}

.product{

	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 1px solid silver;
	margin-bottom: 20px;
}

.product:hover{

	border: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	transform: scale(1.01);

}

.product img{

	width: 300px;
	height: 200px;
	object-fit: cover;

}

.product img:hover{

	transform: scale(1.04);

}

.product-info{

	padding: 20px;
	width: 100%;
	position: relative;

}
 .product-name{
font-size: 20px;
}
.product-price {
    font-size: 15px;
    color: gray ;
}


.product-name, .product-price, .product-offer{

	margin-bottom: 20px;

}

.product-remove{

	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color:rgb(228, 63, 132);
	color: white;
	cursor: pointer;
	border-radius: 5px;
    font-size: 15px;

}

.product-remove:hover{

	background-color: white;
	color: rgb(234, 16, 16);
	font-weight: 600;
	border: 1px solid rgb(238, 10, 10);

}

.product-quantity h5 {

	width: 40px;
	padding: 5px;
	text-align: center;
}
.product-quantity {
    font-size: 12px;
    color:gray;

}


.cart-total{

	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 240px;
	border: 1px solid silver;
	border-radius: 5px;
    padding-top: 50px;

}

.cart-total p{

	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;

}

.cart-total a{

	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: var(--pink);
	color: white;
	text-decoration: none;
    font-size: 20px;

}

.cart-total a:hover{

	background-color: rgba(244, 104, 162, 0.89)

}



/* Footer Start **************************************************************************************************************/

.h{
    width: 80%;
    height: 1px;
    border : 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(190, 190, 190);
}

.social_icon {
    position: absolute; 
    align-items: center;
    
      }
      footer {
        width:100%;  
        padding:10px 0px;
        clear: bottom;
        position:absolute;
        display:block;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    
    
    footer .social_icon , footer .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }
    
    
    footer .social_icon li {
        list-style: none;
    }
    
    footer .social_icon li a {
        font-size: 2em;
        color: rgb(0, 0, 0);
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }
    
    .social_icon img,
    .social img {
        width: 40px;
        height: 40px;
    }
    .social .twitt,
    .social_icon .twitt {
        width: 40px;
        height: 40px;
    }
    
    footer .social_icon li a:hover {
        transform: translateY(-10px);
    }
    
    footer .menu li  {
        font-size: 1.6em;
        color: rgb(0, 0, 0);
        margin: 0 10px;
        display: inline-block;
        text-decoration: none;
        opacity: 1;
    }
    footer .menu li a  {
       
        color: rgb(0, 0, 0);
      
    }
    
    footer .menu li a:hover {
        opacity: 0.80;
    }
    
    footer p {
        text-align: center;
        color: rgb(0, 0, 0);
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1em;
    }



/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}