:root{
    --pink:#e84393;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}



header{
    position: fixed;
    background:#fff;
    height: 75px;
    width: 100%;
    padding: 0px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   margin-top: -95px;
   z-index: 1000;

}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--pink);
}


header .icons {
    font-size: 2.5rem;
    padding:0 2rem;
  
}
header #icon1:hover ,header #icon2:hover , header #icon3:hover  {
    transform: translateY(-10px);
}

/* Start Here **************************************************************************************************************/
.container{
    background: #fff;
    width: 500px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 100px;
    position: relative;
    top: 60px;
  
  }
  .color {
background: #f8cdd7;  


  }
  .container form .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    
  }

  .container form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
  }
  .container form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
  }
  .container form .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
  }
  .container form .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #f4a2cb 0%, #f7a7cf  100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
  }
  .container form .input-box input:focus ~ .underline::after,
  .container form .input-box input:valid ~ .underline::after{
    transform: scaleX(1);
    transform-origin: left;
  }
  .container form .button{
    margin: 40px 0 20px 0;
  }
  .container .input-box input[type="button"]{
    background: linear-gradient(to right, #f599c7 0%, #f7a7cf  100%);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .container .input-box input[type="button"]:hover{
    letter-spacing: 1px;
    background: linear-gradient(to left, #f7a4cd 0%, #f7a7cf  100%);
  }
  .container .option{
    font-size: 14px;
    text-align: center;
  }




/* Footer Start **************************************************************************************************************/


.h{
    width: 80%;
    height: 1px;
    border : 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(190, 190, 190);
}

.social_icon {
    position: absolute; 
    align-items: center;
    
      }

    
    
    footer .social_icon , footer .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }
    
    
    footer .social_icon li {
        list-style: none;
    }
    
    footer .social_icon li a {
        font-size: 2em;
        color: rgb(0, 0, 0);
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }
    
    .social_icon img,
    .social img {
        width: 40px;
        height: 40px;
    }
    .social .twitt,
    .social_icon .twitt {
        width: 40px;
        height: 40px;
    }
    
    footer .social_icon li a:hover {
        transform: translateY(-10px);
    }
    
    footer .menu li  {
        font-size: 1.6em;
        color: rgb(0, 0, 0);
        margin: 0 10px;
        display: inline-block;
        text-decoration: none;
        opacity: 1;
    }
    footer .menu li a  {
       
        color: rgb(0, 0, 0);
      
    }
    
    footer .menu li a:hover {
        opacity: 0.80;
    }
    
    footer p {
        text-align: center;
        color: rgb(0, 0, 0);
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1em;
    }


/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}





@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}